.currency-convert {
  margin: 10rem auto !important; 
  padding: 2rem;
  height: 21rem;
  width: 40%;
  max-width: 100rem;
  min-width: 300px;
  text-align: center;
}

.currency-convert form {
  display: flex;
  justify-content: center;
}

.currency-convert input,
.currency-convert label {
  margin-top: -17px !important;
}

.currency-convert label {
  margin-bottom: 1rem !important;
}

.currency-convert__selection-result {
  display: flex;
  justify-content: center;
  color: #1A2238;
}

.result-div {
  margin: 1rem;
  margin-left: 5rem;
  text-align: start;
}

.result-div p {
  margin-top: -0.1rem;
}

@media (max-width: 768px) {
  .currency-convert form {
    display: inline;
    justify-content: center;
  }
  .currency-convert {
    height: 27rem;
    min-width: 300px;
  }
  .currency-convert input {
    margin-left: 1rem;
    width: 89%;
  }
}
